- model_class = Ticket

.page-header
  %h1= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize

.row
  .span8
    = nested_form_for @purchase_order, :html => { :class => 'inline' } do |f|
      = error_messages(@purchase_order)
      .row
        .span4
          .control-group
            = f.label :supplier_id, :class => 'control-label'
            .controls
              = @purchase_order.supplier.name if @purchase_order.supplier

        .span4
          .text-right
            = f.link_to_add t("labels.add_item"), :items, "data-target" => "#purchase_order_details", :class => "btn btn-primary"

      %table
        %thead
          %tr
            %th
              = PurchaseOrderDetail.human_attribute_name(:code)
            %th
              = PurchaseOrderDetail.human_attribute_name(:description)
            %th
              = PurchaseOrderDetail.human_attribute_name(:quantity)
            %th
              = PurchaseOrderDetail.human_attribute_name(:quantity_received)
            %th
              = PurchaseOrderDetail.human_attribute_name(:unit_value)
            %th
              = PurchaseOrderDetail.human_attribute_name(:amount)

        %tbody#purchase_order_details
          = f.fields_for :items, :wrapper => false do |detail|
            = detail.hidden_field :product_id, :value => detail.object.product_id, :class => 'detail_id'
            %tr.fields
              %td
                %span.input-small.uneditable-input.text-right
                  = detail.object.code
              %td
                %span.input-small.uneditable-input.text-right
                  = detail.object.description
              %td
                %span.input-small.uneditable-input.text-right
                  = detail.object.quantity_required
              %td
                = detail.text_field :quantity, :class => 'input-small detail_quantity', 'data-only-number' => true
              %td
                .input-prepend
                  %span.add-on $
                  = detail.text_field :unit_value, :class => 'input-small detail_purchase_price text-right', 'data-only-number' => true
              %td
                .input-prepend
                  %span.add-on $
                  %span.input-small.uneditable-input.detail_amount.text-right
                    = "%.2f" % detail.object.amount unless detail.object.amount.nil?
                  = detail.hidden_field :amount, :class => 'detail_amount'


      .form-actions
        = link_to t('.cancel', :default => t("helpers.links.cancel")), purchase_orders_path, :class => 'btn'
        = f.submit t('purchase_orders.receive'), :class => 'btn btn-success'

  .span4
    .block
      %p
        %strong= t("labels.total")
        %span#total
          = "$ #{@purchase_order.total_purchase_orders}" if @purchase_order.total_purchase_orders


  .row
    .span12

