.row
  .span9
    - model_class = PurchaseOrder
    .page-hader
      %h1= page_header model_class

    = form_tag purchase_orders_path, :method => :get, :id => 'purchase_orders-search-form', :class => 'well form-inline' do
      %label
        %strong= t("labels.search")
      = text_field_tag 'search[terms]', @search[:terms], :placeholder => t("placeholder.search")
      %label
        %strong= t("labels.state")
      = select_tag 'search[state]', options_for_select(PurchaseOrder::STATES, :selected => params[:search] ? params[:search][:state] : ""), { :include_blank => true }
      = submit_tag 'Buscar', :id => 'purchase_orders-form-button', :class => 'btn btn-small btn-primary'
      = link_to t('labels.clear'), purchase_orders_path, :class => 'btn btn-small'


    %table.table.table-hover.table-striped.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:id)
          %th= t("activerecord.models.customer")
          %th= model_class.human_attribute_name(:total)
          %th= model_class.human_attribute_name(:state)
          %th= model_class.human_attribute_name(:created_at)
          %th= t '.actions', :default => t("helpers.actions")
      %tbody
        - @purchase_orders.each do |purchase_order|
          %tr
            %td
              = link_to purchase_order.id, purchase_order_path(purchase_order)
            %td
              = purchase_order.supplier.name if purchase_order.supplier
            %td
              = number_to_currency purchase_order.total
            %td
              %span{:class => "btn btn-mini disabled #{state_highlight(purchase_order)}"}
                = t("purchase_order_state.#{purchase_order.state}")
            %td
              = l purchase_order.created_at, :format => :short
            %td
              = link_to t('.show', :default => t("helpers.links.show")),
                          purchase_order_path(purchase_order), :class => 'btn btn-mini btn-warning'
              = link_to t('purchase_order_state.receive'),
                          edit_purchase_order_path(purchase_order),
                          :class => 'btn btn-mini btn-success' if purchase_order.created?
              = link_to t('purchase_order_state.cancel'),
                          cancel_purchase_order_path(purchase_order),
                          :data => { :confirm => t('purchase_order_state.confirm.cancel') },
                          :class => 'btn btn-mini btn-danger' if purchase_order.created? || purchase_order.received?


    = pagination @purchase_orders

  .span3
    .text-right
      = link_to t('.new', :default => t("helpers.links.new")), new_purchase_order_path, :class => 'btn btn-primary'

    .block
      %h5= t("labels.general_information")
      %p
        %strong= t("labels.total_records")
        = @purchase_orders.count
