= form_for @customer do |f|
  - if @customer.errors.any?
    #errorExplanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
    %ul
      - @customer.errors.full_messages.each do |msg|
        %li= msg

  %p
    = f.label :first_name
    %br
    = f.text_field :first_name

  %p
    = f.label :last_name
    %br
    = f.text_field :last_name

  %p
    = f.submit