%h1
  Customers

= link_to 'Agregar Cliente', new_customer_path

%table
  %tr
    %th Nombre(s)
    %th Apellido(s)
    %th
    %th
    %th

  - @customers.each do |customer|
    %tr
      %td= customer.first_name
      %td= customer.last_name
      %td= link_to 'Ver', customer_path(customer)
      %td= link_to 'Editar', edit_customer_path(customer)
      %td= link_to 'Eliminar', customer_path(customer), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar el registro?' }
