%p
  %strong
    Nombre(s):
  = @customer.first_name

%p
  %strong
    Apellido(s):
  = @customer.last_name

%h2 Dirección
%p
  Address1:
  = @customer.address.address1
%p
  Address2:
  = @customer.address.address2
%p
  State:
  = @customer.address.state
%p
  City:
  = @customer.address.city
%p
  Town:
  = @customer.address.town
%p
  Location:
  = @customer.address.location
%p
  zip_code:
  = @customer.address.zip_code
%p
  Comments:
  = @customer.address.comments


%h2 Teléfono(s)
- @customer.phones.each do |phone|
  %p
    = phone.number
    = phone.phone_type

%h2 Correo electrónico(s)
- @customer.emails.each do |email|
  %p
    = email.email
    = email.email_type


= link_to 'Atrás', customers_path
= link_to 'Editar', edit_customer_path(@customer)