.row
  .span8
    = nested_form_for @ticket, :html => { :class => 'inline' } do |f|
      = error_messages(@ticket)
      .row
        .span4
          .control-group
            = f.label :customer_name, :class => 'control-label'
            .controls
              = f.text_field :customer_name, :'data-search-url' => '/customers/search_name'
              = f.hidden_field :customer_id, :class => 'hidden-id'

        .span4
          .text-right
            = f.link_to_add t("labels.add_item"), :items, "data-target" => "#items", :class => "btn btn-primary"

      %table
        %thead
          %tr
            %th
              = Item.human_attribute_name(:code)
            %th
              = Item.human_attribute_name(:description)
            %th
              = Item.human_attribute_name(:quantity)
            %th
              = Item.human_attribute_name(:unit_value)
            %th
              = Item.human_attribute_name(:amount)
            %th
        %tbody#items
          = f.fields_for :items, :wrapper => false do |item|
            %tr.fields
              %td
                = item.text_field :code, :class => 'input-mini item_code', :'data-search-url' => '/products/search_code'
              %td
                = item.text_field :description, :class => 'item_description'
              %td
                = item.text_field :quantity, :class => 'input-mini item_quantity', 'data-only-number' => true
              %td
                .input-prepend
                  %span.add-on $
                  = item.text_field :unit_value, :class => 'input-small item_unit_value text-right', 'data-only-number' => true
              %td
                .input-prepend
                  %span.add-on $
                  %span.input-small.uneditable-input.item_amount.text-right
                    = "%.2f" % item.object.amount unless item.object.amount.nil?
                  = item.hidden_field :amount, :class => 'item_amount'
              %td
                = item.link_to_remove '', :class => 'icon-remove'
                -#= link_to '', '#', :class => 'icon-remove remove_item', :'data-message' => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))

      .form-actions
        = link_to t('.cancel', :default => t("helpers.links.cancel")), tickets_path, :class => 'btn'
        = f.submit nil, :class => 'btn btn-primary'

  .span4
    .block
      %p
        %strong= t("labels.total")
        %span#total
          = "$ #{@ticket.total_tickets}" if @ticket.total_tickets

      %h5= t("labels.customer_information")
      #customer_name
      #customer_address

      = form_tag '#', :id => 'ticket-detail-form', :class => 'form-inline' do
        / .control-group
        /   Código
        /   .controls
        /     = text_field_tag 'ticket-code', nil, :'data-search-url' => '/tickets/search_code', 'data-target' => '#items', :'data-blueprint-id' => 'items_fields_blueprint', :'data-association' => 'items'
        /     = hidden_field_tag 'ticket-code-hidden', nil, :class => 'hidden-id'
        /     %label.not_found

  .row
    .span12
