.row
  .span9
    - model_class = Version
    .page-hader
      %h1= page_header model_class

    %table.table.table-hover.table-striped.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:item_type)
          %th= model_class.human_attribute_name(:item_id)
          %th= model_class.human_attribute_name(:event)
          %th= model_class.human_attribute_name(:whodunnit)
          %th= model_class.human_attribute_name(:created_at)
      %tbody
        - @versions.each do |version|
          %tr
            %td= version.item_type
            %td= version.item_id
            %td= version.event
            %td= version.whodunnit
            %td=l version.created_at.to_date


    = pagination @versions

  .span3
    .text-right

    .block
      %h5= t("labels.general_information")
      %p
        %strong= t("labels.total_records")
        = @versions.count
