.span3.offset4.gray_square.block
  %h2= t("system.name")

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .row
      .span3
        .control-group
          = f.label :email, :class => 'control-label'
          .controls
            = f.email_field :email, :autofocus => true

        .control-group
          = f.label :password, :class => 'control-label'
          .controls
            = f.password_field :password

        = f.submit t('devise.sign_in'), :class => 'btn btn-primary'

  = render "devise/shared/links"
