%p= t('devise.mailer.reset.hello', email: @resource.email)

%p= t('devise.mailer.reset.message1')

%p= link_to t('devise.mailer.reset.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p= t('devise.mailer.reset.message2')
%p= t('devise.mailer.reset.message3')
