= nested_form_for @product, :html => { :class => 'form-horizontal' } do |f|
  = error_messages(@product)
  .row
    .span4
      .control-group
        = f.label :name, :class => 'control-label'
        .controls
          = f.text_field :name, :class => 'text_field'
    .span4
      .control-group
        = f.label :short_name, :class => 'control-label'
        .controls
          = f.text_field :short_name, :class => 'text_field'

  .row
    .span4
      .control-group
        = f.label :price, :class => 'control-label'
        .controls
          = f.text_field :price, :class => 'text_field'
    .span4
      .control-group
        = f.label :code, :class => 'control-label'
        .controls
          = f.text_field :code, :class => 'text_field'

  .row
    .span4
      .control-group
        = f.label :unit_id, :class => 'control-label'
        .controls
          = f.collection_select :unit_id, Unit.all, :id, :name, {:include_blank => t("select_blank")}, :class => 'text_field'
    .span4
      .control-group
        = f.label :category_id, :class => 'control-label'
        .controls
          = f.collection_select :category_id, Category.all, :id, :name, {:include_blank => t("select_blank")}, :class => 'text_field'

  .row
    .span4
      .control-group
        = f.label :min_stock, :class => 'control-label'
        .controls
          = f.text_field :min_stock, :class => 'text_field'
    .span4
      .control-group
        = f.label :max_stock, :class => 'control-label'
        .controls
          = f.text_field :max_stock, :class => 'text_field'

  .row
    .span4
      .control-group
        = f.label :bar_code, :class => 'control-label'
        .controls
          = f.text_field :bar_code, :class => 'text_field'
    .span4
      .control-group
        = f.label :comments, :class => 'control-label'
        .controls
          = f.text_area :comments, :class => 'text_field'

  .form-actions
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'
    = f.submit nil, :class => 'btn btn-primary'
