<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Code</th>
      <th>Category</th>
      <th>Comments</th>
      <th>Min stock</th>
      <th>Max stick</th>
      <th>Bar code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.short_name %></td>
        <td><%= product.price %></td>
        <td><%= product.unit_id %></td>
        <td><%= product.code %></td>
        <td><%= product.category_id %></td>
        <td><%= product.comments %></td>
        <td><%= product.min_stock %></td>
        <td><%= product.max_stick %></td>
        <td><%= product.bar_code %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
