!!! 5
%html
  %head
    %title= title_page
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "nested_form"
    = csrf_meta_tags

  %body
    = render :partial => "layouts/header"
    .container
      = render :partial => "layouts/notifications"
      = yield

      #form_signout{:style => "display: none;"}
        = button_to t("links.sign_out"), {:action => "destroy", :controller => "devise/sessions"}, {:class => "btn-link", :method => :delete}

