.row
  .span12
    = render 'layouts/partials/header', path: new_account_path
    = render 'layouts/partials/search', path: accounts_path

    %table.table.table-hover.table-striped.table-condensed
      %thead
        %tr
          %th= Account.human_attribute_name(:name)
          %th= Account.human_attribute_name(:created_at)
          %th= t '.actions', :default => t("helpers.actions")
      %tbody
        - @accounts.each do |account|
          %tr
            %td= link_to account.name, account_path(account)
            %td=l account.created_at.to_date
            %td
              = link_to t('.show', :default => t("helpers.links.show")),
                          account_path(account), :class => 'btn btn-mini btn-warning'
              = link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_account_path(account), :class => 'btn btn-mini btn-primary'
              = link_to t('.destroy', :default => t("helpers.links.destroy")),
                          account_path(account),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger'

    = pagination @accounts
