.page-header
  %h1= page_header Account

.row
  .span8
    %p
      %strong= Account.human_attribute_name(:name)
      = @account.name

  .span4
    .block
      %h5= t("labels.user")
      - @account.users.each do |user|
        %p
          = user.email
          = user.role.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")),
              accounts_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")),
              edit_account_path(@account), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")),
              account_path(@account),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
              :class => 'btn btn-danger'